<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" type="text/css" />
    
</head>

<body>

    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">О нас</h4>
                        <p class="text-muted">Мы представляем сообщество энтузиастов, увлеченных 3D-моделированием. Мы готовы поделиться с Вами нашим опытом и последними новостями о Blender.</p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Найти наши работы и связаться с нами можно тут:</h4>
                        <ul class="list-unstyled">
                            <li><a href="https://www.instagram.com/bergwolfe_team/?hl=ru" class="text-white" target="_blank">Наш Instagram</a></li>
                            <li><a href="https://vk.com/bergwolfe" class="text-white" target="_blank">Наш Vk</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container">
                <a href="/Home" class="navbar-brand d-flex align-items-center">
                    <img class="wolf-logo" src="/img/Wolf.png" alt="Wolf logo" />
                    <strong>Bergwolf3D</strong>
                </a>
                <a class="btn btn--choice" href="/Home/MasterThemes?levelID=4">Новости</a>
                <a class="btn btn--choice" href="/Home/MasterThemes?levelID=3">Мастер</a>
                <a class="btn btn--choice" href="/Home/MasterThemes?levelID=2">Любитель</a>
                <a class="btn btn--choice" href="/Home/MasterThemes?levelID=1">Новичок</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>


    <div>
        @RenderBody()
    </div>

    <hr />

    <footer class="text-muted py-5" style="background-color: #212529;">
        <div class="container">
            <p class="float-end mb-1" style="margin-right: -250px;">
                <a href="">Back to top</a>
            </p>
        </div>
    </footer>


    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>
