<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <style>
        body {
            background-image: url("/img/background.jpg");
            background-attachment: fixed;
            color: #f9fafb !important;
        }

        .fw-light {
            font-weight: 600 !important;
            color: white;
        }

        .text-muted {
            color: #ffffff !important;
        }
        
        hr:not([size]) {
            height: 3px;
            opacity: 0.65;
        }

        a {
            color: #fcfdff;
            text-decoration: underline;
        }

        .img-thumbnail {
            padding: .05rem;
            background-color: #ffffff;
            border: 1px solid #ffffff;
            border-radius: .95rem;
            max-width: 100%;
            height: auto;
        }



    </style>

</head>
<body>

    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">О нас</h4>
                        <p class="text-muted">Мы представляем сообщество энтузиастов, увлеченных 3D-моделированием. Мы готовы поделиться с Вами нашим опытом и последними новостями о Blender.</p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Найти наши работы и связаться с нами можно тут:</h4>
                        <ul class="list-unstyled">
                            <li><a href="https://www.instagram.com/bergwolfe_team/?hl=ru" class="text-white" target="_blank">Наш Instagram</a></li>
                            <li><a href="https://vk.com/bergwolfe" class="text-white" target="_blank">Наш Vk</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
                    <strong>Bergwolf3D</strong>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>

    <hr />
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Немного о самом Blender</h1>
                <p class="lead text-muted">
                    Blender — профессиональное cвободное и открытое программное обеспечение для создания трёхмерной компьютерной графики,
                    включающее в себя средства моделирования, скульптинга, анимации, симуляции, рендеринга,
                    постобработки и монтажа видео со звуком, компоновки с помощью «узлов» (Node Compositing),
                    а также создания 2D-анимаций. В настоящее время пользуется большой популярностью среди бесплатных 3D-редакторов
                    в связи с его быстрым стабильным развитием и технической поддержкой.
                </p>
            </div>
        </div>
    </section>
    <hr />

    <div>
        @RenderBody()
    </div>

    <hr />

    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">Back to top</a>
            </p>
        </div>
    </footer>


    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>
