@model Theme
<div>
    <div>
        <h1>@Model.name</h1>
    </div>

    <div>
        <img src="@Model.img"/>
    </div>

    <span>
        @Model.longDescription
    </span>

    <div>

        <a class="btn btn-danger" href="/Home">Сосать огромный хуй</a>
    </div>

</div>
